.modal__container {
    position: absolute;
    background-color: #f6f6f6;
    border: 2px solid #606060;
    border-radius: 10px;
    top:200px;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 1000px;
    min-width: 300px;
    width: calc(100% - 200px);
    min-height: 100px;
    z-index:100;
    box-shadow: 0 10px 20px 2px #6d6d6d;
    padding: 10px 10px;
    opacity: 1;
}

.modal__headerXIconContainer {
    float:right;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: #732434;
    display:flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.modal__headerXIcon {
    margin-top:-2px;
}

.modal__headerTitle{
    margin: 0 5px;
    float: left;
}

.modal__background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:99;
}