.sound__container {
    position: relative;
    background-color: purple;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.sound__iconContainer {
    position: absolute;
    left: 35px;
    top: 25px;
}