@font-face {
    font-family: "lobster";
    src: url("../fonts/Lobster_1.3.otf") format("opentype");
    font-weight: bold;
}

.homepage__container {
    margin-top: 0;
}

.homepage__content {
    max-width: 1200px;
    width:100%;
    margin: 0 auto;
}

.homepage__soundGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.homepage__soundContainer {
    margin: 25px;
}

.homepage__headerContainer {
    text-align:center;
    font-family: lobster, sans-serif;
    font-size: 40px;
}

.clearfix {
    clear: both;
}